<md-content class="repo-grid">
    <md-card class="repo-card" ng-repeat="repository in repositories" ng-if="(!repository.fork) && repository.language">
        <md-subheader class="md-primary">
            <span class="circle" ng-class="getLanguageColor(repository)"></span>
            <a ng-href="[[repository.html_url]]" ng-bind="repository.name"></a>
        </md-subheader>
        <div class="repo-info">
            <p ng-bind="repository.description"></p>
            <div class="row">
                <span class="fa fa-code-fork fa-fw repo-icon" ng-bind="repository.forks_count"></span>
                <span class="fa fa-star fa-fw repo-icon" ng-bind="repository.stargazers_count"></span>
            </div>
        </div>
    </md-card>
</md-content>
