:root {
    --main-bg-color: pink;
    --section-bg-color: #F5F5F5;
    --section-color: rgba(0, 0, 0, 0.87);
    --section-padding: 20px;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

main {
    flex-grow: 1;
    justify-content: center;
}

.site-header, .site-footer {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    color: var(--section-color);
    background-color: var(--section-bg-color);
}

.site-header {
    justify-content: flex-start;
    padding-left: var(--section-padding);
    box-shadow: 0 0 4px 2px var(--shadow-color);
    margin-bottom: 4px;
}

.site-footer {
    min-height: 48px;
    justify-content: flex-end;
    padding-right: var(--section-padding);
    box-shadow: 0 -2px 4px 2px var(--shadow-color);
    margin-top: 4px;
}

.footer-links {
    list-style-type: none;
    margin: 0;
}

.footer-links a {
    color: var(--section-color);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid gray;
}

.footer-links a:first-of-type {
    border-left: none;
}

.repo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.repo-card {
    flex-grow: 0;
    display: flex;
    width: calc(100% * (1/6) - 10px - 1px);
}

@media (max-width: 1100px) {
    .repo-card {
        width: calc(100% * (1/4) - 10px - 1px);
    }
}

@media (max-width: 650px) {
    .repo-card {
        width: calc(100% * (1/2) - 10px - 1px);
    }
}

.repo-info {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.repo-card .md-subheader {
    background-color: #EDEDED;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.repo-card .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.repo-icon:before {
    margin-right: 6px;
}
